* {
  background-color: rgb(198, 240, 240);
  box-sizing: border-box;
}

header h1 {
  color: rgb(13, 11, 167);
}
h2.side-heading {
  color: rgb(16, 81, 107);
  font-style: oblique;
}
#h-w-formula {
  border-style: inset;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: rgb(163, 245, 245);
  width: 850px;
}
.border {
  list-style: lower-roman;
}
header h1 {
  text-align: center;
  margin: 0px 190px 0px 190px;
}
header h2 {
  text-align: left;
  margin-top: -30px;
  color: rgb(41, 243, 0);
}
.index{
  margin-top:50px;
}